/*imports normalize*/
@import "normalize.css";
/*General styling elements for the text*/
@font-face {
  font-family: 'Bespoke-Ajdy4sXJgc';
  src:
    url('../fonts/Bespoke-Ajdy4sXJgc.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
/*Formatting for text*/
/*global*/
  h1,h3,p {
    font-family: 'Bespoke-Ajdy4sXJgc';  
  }
  /*header only*/
  h1{
    color: white;
    font-size: 4em;
  }
  h3{
    color: rgb(128, 142, 179);
  }
  p{
    text-indent: 25px;
  }
/*formatting for header and sections*/
header{
  background-color: black;
  padding: 20px;
}
section{
  padding: 20px;
}
/*visual format for the line divider*/
hr{
  border: 2px solid black;
  margin: 20px;
}